# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.ipynb_checkpoints/
.directory
.idea/

# Scraped episodes
episode_scraping/

# Hydra experiment outputs
outputs/

# Rl agent config and .pt files
lux_ai/rl_agent/config.yaml
lux_ai/rl_agent/*.pt

# RL agent copy for comparing different model weights
main_2.py
lux_ai/rl_agent_2/
